@import "./assets/scss";

body, html {
  height: 100%;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/img/mesh_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-app {
  text-align: center;
  margin: 100px;
}

.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.connect-wallet-button {
  background: $brand-red;
}

.mint-nft-button {
  background: $brand-red;
}
