.header-container {
    width: 100vw;
    display: flex;

    .header-left {
        flex: 1;

        .logo {
            max-height: 20rem;
        }
    }

    .header-right {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        padding: 5px;

        .link {
            padding: 12px;

            .social-icon {
                color: white;
                font-size: 2rem;
            }
        }

        .wallet-connect-button {
            margin: 8px;
            padding: 8px;
            border: none;
            border-radius: 12px;
            min-width: 250px;
            color: gray;
            font-size: 18px;
            cursor: pointer;
        }
    }
}