.header-container {
    width: 100vw;
    display: flex;

    .header-left {
        flex: 1;

        .logo {
            max-height: 20rem;
        }
    }

    .header-right {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        .link {
            padding: 12px;

            .social-icon {
                color: white;
                font-size: 2rem;
            }
        }
    }
}